body {
  margin: 30px;
  font-family: sans-serif;
  max-width: 900px;
  line-height: 1.4em;
}
.header a {
  color: rgba(0,0,0,0.5);
  text-decoration: none;
}
h1 {
}
h2 {
  color: rgba(0,0,0,0.5);
}
h3 {
  color: rgba(0,0,0,0.5);
}
a {
  color: rgba(0,0,255,0.45);
}
